{% extends 'admin/adminhome.html' %}
{% block content %}
<div class="container mt-3">
    <div style="border: 2px solid silver;width: auto;" class="p-5 mt-3">
    <div class="row">
       <div class="col-md-6"> 
       <h2 class="text-info">Edit Product</h2>
      
    <br>
    <br>
    {% for i in s %}
    <form action="{% url 'productedit' i.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
            <label for="title"></label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" value="{{i.title}}">
       
        
            <label for="ISBN"></label>
            <input type="text" class="form-control" id="ISBN" placeholder="Enter ISBN" name="ISBN" value="{{i.ISBN}}">
       
       
            <label for="author"></label>
            <input type="text" class="form-control" id="author" placeholder="Enter author name" name="author" value="{{i.author}}">
       
            <label for="description"></label>
            <input type="text" class="form-control" id="description" placeholder="Enter description" name="description" value="{{i.description}}">
        
        
            <label for="listprice"></label>
            <input type="text" class="form-control" id="listprice" placeholder="Enter listprice" name="listprice" value="{{i.listprise}}">
        
            <label for="price"></label>
            <input type="text" class="form-control" id="price" placeholder="Enter price" name="price" value="{{i.price}}">
        
            <label for="price50"></label>
            <input type="text" class="form-control" id="price50" placeholder="Enter price50" name="price50" value="{{i.price50}}">
        
    
            <label for="price100"></label>
            <input type="text" class="form-control" id="price100" placeholder="Enter price100" name="price100" value="{{i.price100}}">

        
            <label for="category"></label>
            <select name="category" id="category"  class="form-control" >
                <option value="{{i.id}}">{{i.categorys}}</option>
    
            {% for c in ca %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
            </select>
        
        <br>
        <br>
       
            <label for="covertype"></label>
            <select name="covertype"  id="covertype" class="form-control">
                <option value="{{i.id}}">{{i.covertype}}</option>
    
            {% for o in co %}
            <option value="{{o.id}}">{{o.covertype}}</option>
            {% endfor %}
            </select>
       
        <br>
        
            <label for="image"></label>
            <input type="file" class="form-control" id="file"  name="image">
            
        <br>
        <div class="text-center">
        <button type="submit" class="btn btn-dark">create</button>  <a href="{% url 'viewproduct' %}" class="btn btn-success" class="text-center">Back to List</a>    
        </div> 
    </form>
       </div>
       <div class="col-md-6"> 
        <img  src="{{i.image.url}}" alt="" style="width: 200px;height: 200px ;">
       </div>
       {% endfor %}
   </div>            
 </div>
</div>
</div>
</div>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}

{%endblock%}