{% extends 'customer/userhome.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
<div class="container mt-3">
    <h2></h2>
    <form action="{% url 'changepassword' %}" method="post">
       {% csrf_token %}
      <div class="mb-3">
        <label for="old_password">OldPassword</label>
        <input type="password" class="form-control" id="old_password" placeholder="Enter old_password" name="old_password">
      </div>
      <div class="mb-3">
        <label for="new_password">NewPassword</label>
        <input type="password" class="form-control" id="new_password" placeholder="Enter new_password" name="new_password">
      </div>
      <div class="mb-3">
         <label for="confirm_password">ConfirmPassword</label>
         <input type="password" class="form-control" id="confirm_password" placeholder="Enter confirm_password" name="confirm_password">
      </div>
      <br>
      <div class="mb-3">

      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <br><br>
</div>
</div>
<div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
</div>
</div>
</div>

{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}

{% endblock %}




            